<!DOCTYPE html>
<!--

 @Author Rizki Mufrizal <mufrizalrizki@gmail.com>
 @Since Jan 17, 2016
 @Time 10:30:31 PM
 @Encoding UTF-8
 @Project Belajar-SpringDataRest-Hateos
 @Package Expression package is undefined on line 9, column 13 in Templates/Other/html.html.

-->

<div class="mt++" flex-container="column" flex-align="space-between center" style="height: 400px">
    <h1>Belajar Spring Data Rest Dan Spring Hateos</h1>
    <button class="btn btn--m btn--blue btn--raised" lx-ripple>Button</button>
</div>
